/* Reset default margin and padding */

.maincolor{
    color: #388087;
    color: #6FB3B8;
    color: #BADFE7;
    color: #C2EDCE;
    color: #F6F6F2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fafad4;
}

/* Styling for the header */
.header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the title horizontally */
    position: relative; /* Allows positioning child elements */
    padding: 10px;
    background-color: #388087; /* Optional background */
}

/* Styling for the logo container */
.logo-container {
    position: absolute; /* Keep the logo on the left */
    left: 10px; /* Adjust left margin */
    display: flex;
    align-items: center;
}

/* Styling for the logo image */
.logo {
    height: 100px;
    width: 100px;
}

/* Styling for the header title */
.header-title {
    font-size: 30px;
    margin: 0;
    text-align: center; /* Ensures proper centering */
    color: #fafad4;
}



.blog-content {
    margin: 50px 100px 25px 100px;
    padding: 20px;
    background-color: #f0f3d4;
    border-radius: 5px;
}

.blog-content h3 {
    color: #333;
    font-size: 23px;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.blog-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin: 20px 0;
    border-radius: 8px;
}

.comments-section {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #388087;
    color: #fff;
    margin-top: 20px;
}

.f-500{
    font-weight: bold;
}

.m-1ch{
    margin-top: -1ch; margin-left: 1ch;
    text-align: justify;
}
/* Responsive Design */
@media (max-width: 600px) {
    .blog-content {
        margin: 30px 10px 5px 10px;
        padding: 10px;
    }
    .blog-image {
        max-height: 250px;
    }
}
